<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TableView - Startup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2 class="text-center"><u>Stock</u></h2><br>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>性別</th>
                    <th>年齡</th>
                    <th>分數</th>
                </tr>
            </thead>
            <tbody>
                <!-- jinja2 Technique -->
                {% if d %}
                {% for i in d %}
                <tr>
                    <td>{{i.cName}}</td>
                    <td>{{i.cSex}}</td>
                    <td>{{i.cAge}}</td>
                    <td>{{i.cScore}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

</body>
</html>
